body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 85%;
  background-color: #4766b8;
  margin: 0;
  padding: 0;
}

#page {
  width: 761px;
  background-color: white;
  margin: 10px auto;
  border: 2px solid black;
  padding: 10px;
  height: 369px;
}

#banner {
  margin-bottom: 1em;
  height: 70px;
}

#navigation {
  margin-top: 1em;
  height: 45px;
  background-color: white;
}

#sidebar {
  width: 150px;
  height: 370px;
  background-color: white;
  margin-bottom: 0.7em;
  float: left;
}

.copyright {
  font-size: 90%;
  text-align: right;
  margin: 0;
}

/* the styles for the table*/

caption {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 150%;
  color: #4766b8;
}

td,
th {
  border: 1px solid black;
  padding: 0.2em 0.7em;
  font-size: 95%;
}

.alignRight {
  text-align: right;
}

#main {
  margin-left: 150px;
}

table {
  border: solid 1px black;
  border-collapse: collapse;
}

#footer {
  margin-top: 0.5em;
  border-top: 2px solid grey;
  padding-top: 0.7em;
}